<section id="sub-header">
    <nav>
      <a href=""><img src="assets/eduford_img/logo.png" alt=""></a>
      <div class="nav-links" id="navLinks">
        <div class="fa fa-times" id="close" (click)="hideMenu()"></div>
        <ul>
          <li><a [routerLink]="['/home']">HOME</a></li>
          <li><a [routerLink]="['/about']">ABOUT</a></li>
          <li><a [routerLink]="['/courses']">COURSE</a></li>
          <li><a [routerLink]="['/blog']">BLOG</a></li>
          <li><a [routerLink]="['/contact']">CONTACT</a></li>
        </ul>
      </div>
      <i class="fa-solid fa-bars" id="menu" (click)="showMenu()"></i>
    </nav>
    <h1>Our Courses</h1>
  </section>
  

  
  <section id="course">
    <h1>Courses We Offer</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
    <div class="row">
      <div class="course-col">
        <h3>Intermediate</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At minima a iste id, earum saepe aperiam eum qui
          vitae architecto eius! Aspernatur nisi, dolores iste beatae praesentium hic quisquam eum!</p>
      </div>
      <div class="course-col">
        <h3>Degree</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At minima a iste id, earum saepe aperiam eum qui
          vitae architecto eius! Aspernatur nisi, dolores iste beatae praesentium hic quisquam eum!</p>
      </div>
      <div class="course-col">
        <h3>Post Graduation</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At minima a iste id, earum saepe aperiam eum qui
          vitae architecto eius! Aspernatur nisi, dolores iste beatae praesentium hic quisquam eum!</p>
      </div>
    </div>
  </section>
  
  
  
  
  
  <section id="footer">
    <h4>About Us</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, inventore esse. Dicta obcaecati ab repellendus nam
      voluptate animi fugiat corporis.</p>
  </section>