<section id="sub-header">
  <nav>
    <a href=""><img src="assets/eduford_img/logo.png" alt=""></a>
    <div class="nav-links" id="navLinks">
      <div class="fa fa-times" id="close" (click)="hideMenu()"></div>
      <ul>
        <li><a [routerLink]="['/home']">HOME</a></li>
          <li><a [routerLink]="['/about']">ABOUT</a></li>
          <li><a [routerLink]="['/courses']">COURSE</a></li>
          <li><a [routerLink]="['/blog']">BLOG</a></li>
          <li><a [routerLink]="['/contact']">CONTACT</a></li>
      </ul>
    </div>
    <i class="fa-solid fa-bars" id="menu" (click)="showMenu()"></i>
  </nav>
  <h1>Our Certificate and online Pragrams For 2021</h1>
</section>


<!-- Blog  Content -->

<section id="blog-content">
  <div class="row">
    <div class="blog-left">
      <img src="assets/eduford_img/certificate.jpg" alt="">
      <h2>Our Certificate and online Pragrams For 2021</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum consequuntur magnam iste sint laborum,
        dignissimos ad beatae, voluptate unde distinctio aut velit provident. Cupiditate numquam minima et. Obcaecati
        repellat consequatur officia accusamus repellendus quis, minus odit, quaerat iusto, delectus tempore!</p>
        <br>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum consequuntur magnam iste sint laborum,
          dignissimos ad beatae, voluptate unde distinctio aut velit provident. Cupiditate numquam minima et. Obcaecati
          repellat consequatur officia accusamus repellendus quis, minus odit, quaerat iusto, delectus tempore!</p>
          <br>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum consequuntur magnam iste sint laborum,
            dignissimos ad beatae, voluptate unde distinctio aut velit provident. Cupiditate numquam minima et. Obcaecati
            repellat consequatur officia accusamus repellendus quis, minus odit, quaerat iusto, delectus tempore!</p>
            <div class="comment-box">
              <h3>Leave a comment</h3>
              <form class="comment-form">
                <input type="text" name="" id="" placeholder="Enter Name">
                <input type="email" name="" id="" placeholder="Enter Email">
                <textarea name="" id="" cols="30" rows="5" placeholder="Your Comment"></textarea>
                <button type="submit" class="btn-submit">POST COMMENT</button>
              </form>
            </div>
    </div>
   <div class="blog-right">
       <h3>Post Categories</h3>
       <div>
          <span>Business Analyst</span>
          <span>21</span>
       </div>
       <div>
        <span>Data Science</span>
        <span>28</span>
     </div>
     <div>
      <span>Machine Leaarning</span>
      <span>34</span>
   </div>
   <div>
    <span>Computer Science</span>
    <span>22</span>
 </div>
   </div>
  </div>
</section>






<section id="footer">
  <h4>About Us</h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, inventore esse. Dicta obcaecati ab repellendus nam
    voluptate animi fugiat corporis.</p>
</section>