<section id="header">
    <nav>
      <a href=""><img src="assets/eduford_img/logo.png" alt=""></a>
      <div class="nav-links" id="navLinks">
        <div class="fa fa-times" id="close" (click)="hideMenu()"></div>
        <ul>
          <li><a [routerLink]="['/home']">HOME</a></li>
          <li><a [routerLink]="['/about']">ABOUT</a></li>
          <li><a [routerLink]="['/courses']">COURSE</a></li>
          <li><a [routerLink]="['/blog']">BLOG</a></li>
          <li><a [routerLink]="['/contact']">CONTACT</a></li>
        </ul>
      </div>
      <i class="fa-solid fa-bars" id="menu" (click)="showMenu()"></i>
    </nav>
    <div class="text-box">
      <h1>Wolds's Biggest University</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. distinctio hic ea blanditiis <br> quod aperiam ex
        maiores eligendi.</p>
      <a href="" class="btn-visit-us">Visit Us To know more</a>
    </div>
  </section>
  
  <!-- Course -->
  <section id="course">
    <h1>Courses We Offer</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
    <div class="row">
      <div class="course-col">
        <h3>Intermediate</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At minima a iste id, earum saepe aperiam eum qui
          vitae architecto eius! Aspernatur nisi, dolores iste beatae praesentium hic quisquam eum!</p>
      </div>
      <div class="course-col">
        <h3>Degree</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At minima a iste id, earum saepe aperiam eum qui
          vitae architecto eius! Aspernatur nisi, dolores iste beatae praesentium hic quisquam eum!</p>
      </div>
      <div class="course-col">
        <h3>Post Graduation</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At minima a iste id, earum saepe aperiam eum qui
          vitae architecto eius! Aspernatur nisi, dolores iste beatae praesentium hic quisquam eum!</p>
      </div>
    </div>
  </section>
  
  <!-- campus -->
  <section id="campus">
     <h1>Our Global Campus</h1>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
     <div class="row">
      <div class="campus-col">
        <img src="assets/eduford_img/london.png" alt="">
        <div class="layer">
          <h3>London</h3>
        </div>
      </div>
      <div class="campus-col">
        <img src="assets/eduford_img/newyork.png" alt="">
        <div class="layer">
          <h3>New York</h3>
        </div>
      </div>
      <div class="campus-col">
        <img src="assets/eduford_img/washington.png" alt="">
        <div class="layer">
          <h3>Washington</h3>
        </div>
      </div>
     </div>
  </section>
  
  <!-- Facilities -->
  <section id="facilities">
    <h1>Our Facilities</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <div class="row">
      <div class="facilitiea-col">
        <img src="assets/eduford_img/library.png" alt="">
        <h3>World Class Library</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam.</p>
      </div>
  
    <div class="facilitiea-col">
      <img src="assets/eduford_img/cafeteria.png" alt="">
      <h3>World Class Library</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam.</p>
    </div>
  
  <div class="facilitiea-col">
    <img src="assets/eduford_img/basketball.png" alt="">
    <h3>World Class Library</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam.</p>
  </div>
  </div>
  </section>
  
  <!-- testimonials -->
  <section id="testimonials">
    <h1>What Our Student Says</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium itaque consequatur quis!</p>
    <div class="row testimonial-row">
      <div class="testimonial-col">
        <img src="assets/eduford_img/user1.jpg" alt="">
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate aut iure, quaerat non quos rem fuga illum voluptatum dignissimos iste?</p>
          <h3>Anjali Sharma</h3>
        </div>
      </div>
      <div class="testimonial-col">
        <img src="assets/eduford_img/user2.jpg" alt="">
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate aut iure, quaerat non quos rem fuga illum voluptatum dignissimos iste?</p>
          <h3>Cris Gale</h3>
        </div>
      </div>
    </div>
  
  </section>
  
  <!-- cta -->
  <section id="cta">
    <h1>Enroll for our various online courses</h1>
    <a class="btn-contact-us">CONTACT US</a>
  </section>
  
  <section id="footer">
    <h4>About Us</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, inventore esse. Dicta obcaecati ab repellendus nam voluptate animi fugiat corporis.</p>
  </section>